Package: master
Version: REPLACE_VERSION
Section: base
Priority: optional
Architecture: all
Build-Depends: dh-python
Depends: python3, python3-argcomplete
Maintainer: Bo Cimino <ciminobo@protonmail.com>
Changed-By: Bo Cimino <ciminobo@protonmail.com>
Description: A tool for project and time management.
